<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>aiss.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>YoutubeSearchController</servlet-name>
    <servlet-class>aiss.controller.YoutubeSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YoutubeSearchController</servlet-name>
    <url-pattern>/YoutubeSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TwitchUserStreamsController</servlet-name>
    <servlet-class>aiss.controller.TwitchUserStreamsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitchUserStreamsController</servlet-name>
    <url-pattern>/TwitchUserSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>YoutubeAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Youtube</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>YoutubeAuthController</servlet-name>
    <url-pattern>/AuthController/Youtube</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>YoutubeOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Youtube</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/YoutubeSearch</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>YoutubeOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Youtube</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>TwitchAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Twitch</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitchAuthController</servlet-name>
    <url-pattern>/AuthController/Twitch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>TwitchOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Twitch</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/twitchUserSearch</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitchOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Twitch</url-pattern>
  </servlet-mapping>
  
</web-app>